@import "tailwindcss";

@theme {
  --color-primary: #f6aa1c;
  --color-secondary: #bc3908;
  --color-accent: #941b0c;
  --color-background: #ffffff;
  --color-text: #000000;
}

@layer components {
  a {
    @apply font-normal text-[1.5rem] text-text no-underline transition-all duration-300 ease-in-out hover:text-secondary hover:underline;
  }

  body {
    @apply m-0 flex flex-col min-w-screen min-h-screen;
  }

  html {
    @apply scroll-smooth;
  }

  h1 {
    @apply text-[11.25rem] font-bold;
  }

  h2 {
    @apply text-[2.25rem] font-semibold;
  }

  p {
    @apply text-[1.5rem] font-normal;
  }

  h3 {
    @apply text-[17px] font-normal;
  }

  /* custom vars */

  .shadow-smooth {
    @apply shadow-[5px_5px_20.1px_0px_rgba(0,0,0,0.25)];
  }

  .galary-img {
    @apply absolute rounded-[0.625rem] shadow-[5px_5px_20.1px_0px_rgba(0,0,0,0.25)];
  }

  .heading {
    @apply absolute top-0 left-6/12 -translate-x-6/12 text-center;
  }

  .small-text {
    @apply text-[17px] font-normal;
  }
}

:root {
  --primary-color: #f6aa1c;
  --secondary-color: #bc3908;
  --accent-color: #941b0c;
  --background: #ffffff;
  --text-color: #000000;

  font-family: "Oswald";
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--background);

  /*  */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Oswald";
  src: url(./assets/font/Oswald-VariableFont_wght.ttf);
}

/* a {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--text-color);
  text-decoration: inherit;
  transition: all 300ms ease;
}
a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 11.25rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  font-size: 0.875rem;
  font-weight: 400;
}

.shadow-smooth {
  box-shadow: 5px 5px 20.100000381469727px 0px rgba(0, 0, 0, 25%);
} */
